@font-face {
  font-family: "BeaufortforLOLBold";
  src: url(assets/fonts/BeaufortforLOLBold.ttf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", "Roboto", sans-serif;
}
