@import "~src/theme";

.background {
  background: url(src\assets\backgrounds\daring_poro.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.home-title {
  font-size: 60px;
  width: 100%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Alata";
  position: absolute;

  .game {
    color: white;
  }
  .site {
    color: #e2b15f;
  }
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 2;
  font-size: 15px;

  .filters-container {
    color: black;
    width: 800px;
    height: 78%;
    border-radius: 10px;
    background-color: rgba(154, 136, 100, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;

    .title {
      margin: 0 0 0 10px;
      font-size: 20px;
    }

    .types {
      .types-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .card-type-icon {
          width: 50px;
          cursor: pointer;
          opacity: 0.5;
        }

        .selected {
          opacity: 1;
        }
      }
    }

    .stats {
      height: 60px;

      .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: -10px;

        .mana,
        .attack,
        .health {
          display: flex;
          flex-direction: row;

          label {
            margin-top: -20px;
            margin-left: 16px;
          }
        }
      }
    }

    .keywords {
      margin-top: 10px;

      .keywords-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .keyword-type-icon {
          width: 50px;
          height: 40px;
          opacity: 0.5;
          cursor: pointer;
        }

        .selected {
          opacity: 1;
        }
      }
    }

    .text-input-container {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .name,
      .subtype,
      .description,
      .levelup {
        display: flex;
        flex-direction: row;

        p {
          width: 15%;
        }

        label {
          width: 75%;
        }

        input {
          height: 20px;
          width: 100%;
        }

        img {
          width: 30px;
        }
      }

      .name,
      .subtype {
        margin-top: 8px;
      }

      .description {
        height: 77px;

        p {
          margin-top: 17px;
        }
      }

      .tag-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        img {
          width: 30px;
          cursor: pointer;
        }

        .font-container {
          border: 1px solid black;
          cursor: pointer;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .name-font-color {
            width: 15px;
            height: 15px;
            background-color: rgb(73, 160, 248);
          }

          .keyword-font-color {
            width: 15px;
            height: 15px;
            background-color: rgb(250, 214, 90);
          }
        }
      }
    }

    .regions {
      .regions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .region-icon {
          width: 60px;
          cursor: pointer;
          opacity: 0.5;
        }

        .selected {
          opacity: 1;
        }
      }
    }

    .rarities {
      .rarity-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .rarity-icon {
        width: 40px;
        cursor: pointer;
        opacity: 0.5;
      }

      .selected {
        opacity: 1;
      }
    }

    .reset-container {
      position: absolute;
      right: 20px;
      top: 20px;
      border: 1px solid white;
      color: white;
      border-radius: 5px;
    }
  }

  .card-container {
    color: white;
    min-width: 400px;
    height: 78%;
    border-radius: 10px;
    background-color: rgba(154, 136, 100, 0.7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    margin-bottom: 10px;

    .card {
      position: relative;
      z-index: 4;
      overflow: hidden;
      width: 340px;
      height: 512px;
      min-width: 340px;
      min-height: 512px;

      .unit-card-image-container {
        position: absolute;
        top: 15px;
        left: 12px;
        z-index: 2;
        width: 318px;
        height: 466px;
        border-radius: 30px;
        overflow: hidden;

        .card-image {
          position: absolute;
          top: 15px;
          left: 10px;
          height: 462px;
          z-index: 2;
          display: none;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          object-fit: cover;
        }
      }

      .spell-card-image-container {
        position: absolute;
        top: 17px;
        left: 42px;
        z-index: 2;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;

        .card-image {
          position: absolute;
          top: 0;
          left: 0;
          height: 250px;
          width: 250px;
          z-index: 2;
          display: none;
          margin-left: auto;
          margin-right: auto;
          object-fit: cover;
        }
      }

      .spell-card-bottom-image-container {
        position: absolute;
        top: 226px;
        left: 10px;
        z-index: 1;
        width: 320px;
        height: 245px;
        border-top-left-radius: 41px;
        border-top-right-radius: 41px;
        overflow: hidden;

        .card-bottom-image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: none;
          z-index: 1;
          object-fit: cover;
          filter: blur(40px) brightness(80%);
        }
      }

      .card-base {
        width: 340px;
        z-index: 4;
        position: relative;
      }

      .mana-container {
        width: 41px;
        height: 42px;
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 4;

        .mana {
          font-family: "BeaufortforLOLBold";
          font-size: 39px;
          margin: 0;
          text-align: center;
        }
      }

      .attack-container {
        width: 50px;
        height: 42px;
        position: absolute;
        bottom: 38px;
        left: 20px;
        z-index: 4;

        .attack {
          font-family: "BeaufortforLOLBold";
          font-size: 35px;
          margin: 0;
          text-align: center;
        }
      }

      .health-container {
        width: 50px;
        height: 42px;
        position: absolute;
        bottom: 38px;
        right: 20px;
        z-index: 4;

        .health {
          font-family: "BeaufortforLOLBold";
          font-size: 35px;
          margin: 0;
          text-align: center;
        }
      }

      .unit-info-container {
        position: absolute;
        bottom: 90px;
        left: 0;
        width: 100%;
        height: 82%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        z-index: 4;

        .title,
        .description,
        .levelup {
          width: 80%;
          overflow: hidden;
          text-align: center;
          margin: 0;
        }

        .unit-typing-container {
          position: absolute;
          top: 5px;
          left: 79px;

          .typing-bar {
            width: 180px;
          }

          .subtype {
            color: #ada89d;
            font-family: "UniversLTStd-UltraCn";
            letter-spacing: 3px;
            text-align: center;
            text-transform: uppercase;
            margin-top: -34px;
            margin-left: 5px;
          }
        }

        .title {
          font-size: 30px;
          margin-bottom: -3px;
          text-transform: uppercase;
        }

        .unit-keyword-icon-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 80%;
        }

        .unit-keyword-icon {
          height: 38px;
          margin: 2px 7px 0 7px;
        }

        .description-element-ref {
          margin-top: 10px;
          margin-bottom: 3px;
          font-size: 18px;
          width: 80%;
        }

        .levelup-bar {
          width: 100%;
          margin-top: 5px;
        }

        .levelup {
          color: rgb(214, 148, 107);
          font-size: 16px;
          font-weight: bold;
          margin-top: 12px;
        }

        ::ng-deep .name {
          color: rgb(73, 160, 248);
        }

        ::ng-deep .keyword {
          color: rgb(250, 214, 90);
        }

        ::ng-deep .inline-icon {
          width: 20px;
          margin-bottom: -4px;
        }
      }

      .spell-info-container {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 4;

        .title,
        .description,
        .levelup {
          width: 80%;
          overflow: hidden;
          text-align: center;
          margin: 0;
        }

        .title {
          text-transform: uppercase;
        }

        .spell-keyword-icon-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 80%;
        }

        .spell-keyword-icon {
          height: 38px;
          margin: 2px 7px 0 7px;
        }

        .spell-description-element-ref {
          margin-top: 10px;
          margin-bottom: 3px;
          font-size: 18px;
          width: 80%;
          text-align: center;
        }

        ::ng-deep .name {
          color: rgb(73, 160, 248);
        }

        ::ng-deep .keyword {
          color: rgb(250, 214, 90);
        }

        ::ng-deep .inline-icon {
          width: 20px;
          margin-bottom: -4px;
        }
      }

      .title {
        font-family: "BeaufortforLOLBold";
        font-weight: bold;
        font-size: 20px;
      }

      .unit-region {
        position: absolute;
        bottom: 37px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;

        .region-icon {
          width: 44px;
          opacity: 0.6;
          z-index: 4;
        }
      }

      .spell-region {
        position: absolute;
        bottom: 47px;
        margin-left: -1px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .region-icon {
          width: 44px;
          opacity: 0.6;
          z-index: 4;
        }
      }
    }

    .move-container {
      display: flex;
      justify-content: space-evenly;
      align-content: center;

      .zoom {
        margin-top: 23px;
        cursor: pointer;
      }

      .arrows-container {
        position: relative;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        .up-down {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
        }

        i {
          cursor: pointer;
        }
      }
    }

    .download {
      border: 1px solid white;
      color: white;
    }
  }
}

// card to download
.sized-card-container {
  color: white;
  min-width: 800px;
  height: 140%;
  border-radius: 10px;
  background-color: rgba(158, 148, 126, 0.9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  left: -9999px;
  top: -9999px;

  .sized-card {
    position: relative;
    z-index: 4;
    overflow: hidden;
    margin: 0;
    width: 680px;
    height: 1024px;

    .unit-card-image-container {
      position: absolute;
      top: 30px;
      left: 24px;
      z-index: 2;
      width: 636px;
      height: 932px;
      border-radius: 60px;
      overflow: hidden;

      .sized-card-image {
        position: absolute;
        top: 30px;
        left: 20px;
        height: 924px;
        z-index: 2;
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        object-fit: cover;
      }
    }

    .spell-card-image-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 640px;
      height: 40px;

      .sized-card-image {
        position: absolute;
        top: 50px;
        left: 84px;
        height: 500px;
        z-index: 2;
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .spell-card-bottom-image-container {
      position: absolute;
      top: 452px;
      left: 20px;
      z-index: 1;
      width: 640px;
      height: 490px;
      border-top-left-radius: 82px;
      border-top-right-radius: 82px;
      overflow: hidden;

      .sized-card-bottom-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 1;
        object-fit: cover;
        filter: blur(40px) brightness(80%);
      }
    }

    .card-base {
      width: 680px;
      z-index: 4;
      position: relative;
    }

    .mana-container {
      width: 82px;
      height: 84px;
      position: absolute;
      top: 48px;
      left: 48px;
      z-index: 4;

      .mana {
        font-family: "BeaufortforLOLBold";
        margin: 0;
        text-align: center;
        font-size: 78px;
      }
    }

    .attack-container {
      width: 100px;
      height: 84px;
      position: absolute;
      bottom: 75px;
      left: 40px;
      z-index: 4;

      .attack {
        font-family: "BeaufortforLOLBold";
        font-size: 35px;
        margin: 0;
        text-align: center;
        font-size: 70px;
      }
    }

    .health-container {
      width: 100px;
      height: 84px;
      position: absolute;
      bottom: 75px;
      right: 40px;
      z-index: 4;

      .health {
        font-family: "BeaufortforLOLBold";
        font-size: 70px;
        margin: 0;
        text-align: center;
      }
    }

    .unit-info-container {
      position: absolute;
      bottom: 180px;
      left: 0;
      width: 100%;
      height: 82%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      z-index: 4;

      .title,
      .description,
      .levelup {
        width: 80%;
        overflow: hidden;
        text-align: center;
        margin: 0;
      }

      .unit-typing-container {
        position: absolute;
        top: 10px;
        left: 158px;

        .typing-bar {
          width: 360px;
        }

        .subtype {
          color: #ada89d;
          font-family: "UniversLTStd-UltraCn";
          letter-spacing: 6px;
          text-align: center;
          text-transform: uppercase;
          margin-top: -66px;
          margin-left: 10px;
          font-size: 31px;
        }
      }

      .title {
        font-size: 60px;
        margin-bottom: -6px;
        text-transform: uppercase;
      }

      .unit-keyword-icon-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
      }

      .unit-keyword-icon {
        height: 76px;
        margin: 4px 14px 0 14px;
      }

      .sized-description-element-ref {
        margin-top: 20px;
        margin-bottom: 6px;
        font-size: 36px;
        width: 80%;
      }

      .levelup-bar {
        width: 100%;
        margin-top: 10px;
      }

      .levelup {
        color: rgb(214, 148, 107);
        font-size: 38px;
        font-weight: bold;
        margin-top: 24px;
      }

      ::ng-deep .name {
        color: rgb(73, 160, 248);
      }

      ::ng-deep .keyword {
        color: rgb(250, 214, 90);
      }

      ::ng-deep .inline-icon {
        width: 40px;
        margin-bottom: -8px;
      }
    }

    .spell-info-container {
      position: absolute;
      bottom: 120px;
      left: 0;
      width: 100%;
      height: 328px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      z-index: 4;

      .title,
      .description,
      .levelup {
        width: 80%;
        overflow: hidden;
        text-align: center;
        margin: 0;
      }

      .title {
        text-transform: uppercase;
      }

      .spell-keyword-icon-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
      }

      .spell-keyword-icon {
        height: 76px;
        margin: 4px 14px 0 14px;
      }

      .sized-spell-description-element-ref {
        margin-top: 20px;
        margin-bottom: 6px;
        font-size: 36px;
        width: 80%;
        text-align: center;
      }

      ::ng-deep .name {
        color: rgb(73, 160, 248);
      }

      ::ng-deep .keyword {
        color: rgb(250, 214, 90);
      }

      ::ng-deep .inline-icon {
        width: 40px;
        margin-bottom: -8px;
      }
    }

    .title {
      font-family: "BeaufortforLOLBold";
      font-weight: bold;
      font-size: 40px;
    }

    .unit-region {
      position: absolute;
      bottom: 78px;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 4px;

      .region-icon {
        width: 88px;
        opacity: 0.6;
        z-index: 4;
      }
    }

    .spell-region {
      position: absolute;
      bottom: 101px;
      margin-left: -2px;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .region-icon {
        width: 88px;
        opacity: 0.6;
        z-index: 4;
      }
    }
  }
}

/* Style from: https://codepen.io/melnik909/pen/BZpJLN */

.field {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 16px;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.a-field {
  display: inline-block;
}

.a-field__input {
  display: block;
  box-sizing: border-box;
  width: 50px;
}

.a-field__input_long {
  display: block;
  box-sizing: border-box;
  width: 600px;
}

/* hides the increase/decrease arrows on webkit-browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.a-field__input:focus,
.a-field__input_long:focus {
  outline: none;
}

.a-field {
  --uiFieldHeight: var(--fieldHeight, 40px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
}

.a-field__input,
.a-field__input_long {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field__input::-webkit-input-placeholder,
.a-field__input_long::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.a-field__input::-moz-placeholder,
.a-field__input_long::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field__input_long:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder,
.a-field__input_long:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.5s;
}

.a-field__input:focus::-moz-placeholder,
.a-field__input_long:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.5s;
}

.a-field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - 0.5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity 0.2s ease-out;
  will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

.a-field__input_long:focus ~ .a-field__label-wrap .a-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input,
.a-field__input_long {
  transition: border-color 0.2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus,
.a-field__input_long:focus {
  border-color: var(--fieldBorderColorActive);
}

.field {
  --fieldBorderColor: rgb(214, 209, 202);
  --fieldBorderColorActive: rgb(219, 189, 146);
}
