@font-face {
  font-family: "BeaufortforLOLBold";
  src: url(assets/fonts/BeaufortforLOLBold.ttf) format("opentype");
}

@font-face {
  font-family: "UniversLTStd-UltraCn";
  src: url(assets/fonts/UniversLTStd-UltraCn.otf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", "Roboto", sans-serif;
}
